<div class="projects">
  {% if site.projects != blank %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign projects = site.projects %}
        {% for project in projects %}
          <tr>
            <th scope="row" style="width: 20%">{{ project.date | date: '%b %d, %Y' }}</th>
            <td>
              <strong>{{ project.title }}</strong><br>
              {{ project.description -}}
              <br>
              <br>

              <!-- Render the full content of the project -->
              <div>
                {{ project.content | remove: '<p>' | remove: '</p>' | emojify | markdownify }}
              </div>

              {% if project.github %}
                <div>
                  <a href="{{ project.github }}" class="btn btn-sm btn-outline-secondary"> View Code on GitHub </a>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No projects so far...</p>
  {% endif %}
</div>
